%footer.container
	.footer
		.content © Zaahir Moolla 2012

/ %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
// :javascript
// 	window.jQuery || document.write('<\/script>')
%script{:src => "http://code.jquery.com/ui/1.9.1/jquery-ui.js"}
%script{:src => "js/jquery-1.8.2.min.js"}
%script{:src => "/js/bootstrap.min.js"}
%script{:src => "/js/plugins.js"}
%script{:src => "/js/main.js"}

/ %script{:src  => "http://assets.zaahir.ca/js/jquery-1.7.1.min.js"}
/ %script{:src  => "http://assets.zaahir.ca/js/less-1.2.1.min.js"}
/ %script{:src  => "http://assets.zaahir.ca/js/functions.js"}
// :javascript
// 	var uvOptions = {};
// 	(function() {
// 	var uv        = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
// 	uv.src        = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/TyZ6s9xq6bkru5Jbt43SkQ.js';
// 	var s         = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
// 	})();