%header.text-centered
	%h1#name.inline-block.nomargin.nopadding.uppercase Zaahir Moolla
	#tag_container
		%div.line.nomargin.nopadding.inline-block.absolute.pull-left
		%h5#tag.nomargin.nopadding.uppercase.inline-block
			hacker, nerd
			%span &amp; 
			musician
		%div.line.nomargin.nopadding.inline-block.absolute.pull-right