%nav.navbar.navbar-fixed-top
  .navbar-inner  
    .container
      %a.btn.btn-navbar{:data => {:toggle => "collapse", :target => ".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.brand{:href=> "/"} 
        %span.uppercase ZM
        %small Hacker, Nerd & Musician

      .nav-collapse.collapse
        %ul.nav
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/resume"} R&eacute;sum&eacute;
          %li
            %a{:href => "/portfolio"} Portfolio
          %li
            %a{:href => "http://blog.zaahir.ca"} Blog