!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= @title
    %meta{:content => "Personal Website of Zaahir Moolla", :name => "description"}
    %meta{:content => "Zaahir Moolla", :name => "author"}
    %meta{:content => "width=device-width", :name => "viewport"}
    / Place favicon.ico and apple-touch-icon.png in the root directory
    %link{:href => "http://assets.zaahir.ca/css/normalize.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://assets.zaahir.ca/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
    / Extra css to add padding-top for <body>
    %link{:href => "http://assets.zaahir.ca/css/navPadding.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://assets.zaahir.ca/css/bootstrap-responsive.css", :rel => "stylesheet", :type => "text/css"}
    / %link{:href => "http://assets.zaahir.ca/stylesheet.css",:rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://assets.zaahir.ca/css/styles.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://assets.zaahir.ca/js/modernizr-2.6.2.min.js"}