%header.text-centered
	%h1#name.nomargin.nopadding.uppercase Zaahir Moolla
	#tag_container
		%div.line.nomargin.nopadding.absolute.pull-left
		%h5#tag.nomargin.nopadding.uppercase
			%a{:href => "https://en.wikipedia.org/wiki/Hacker_(programmer_subculture)"}> Hacker
			, Nerd
			%span &amp;
			Musician
		%div.line.nomargin.nopadding.absolute.pull-right