<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="Zaahir Moolla's personal website">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Zaahir Moolla">

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@zmoolla" />
        <meta name="twitter:creator" content="@zmoolla" />
        <meta name="twitter:title" content="Zaahir Moolla's Personal Website" />
        <meta name="twitter:description" content="DuckDuckHacker, Nerd &amp; Musician" />
        <meta name="twitter:image" content="https://assets.zaahir.ca/favicon-194x194.png" />

        <link rel="apple-touch-icon" sizes="57x57" href="//assets.zaahir.ca/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="//assets.zaahir.ca/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="//assets.zaahir.ca/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="//assets.zaahir.ca/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="//assets.zaahir.ca/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="//assets.zaahir.ca/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="//assets.zaahir.ca/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="//assets.zaahir.ca/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="//assets.zaahir.ca/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="//assets.zaahir.ca/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="//assets.zaahir.ca/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="//assets.zaahir.ca/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="//assets.zaahir.ca/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="//assets.zaahir.ca/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="//assets.zaahir.ca/manifest.json">
        <link rel="mask-icon" href="//assets.zaahir.ca/safari-pinned-tab.svg" color="#e74c3c">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="//assets.zaahir.ca/mstile-144x144.png">
        <meta name="theme-color" content="#e74c3c">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.2.0/vegas.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/colors/red.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

        <!-- Adobe Fonts -->
        <script src="//use.edgefonts.net/source-sans-pro;open-sans;bitter:i4.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        {% include "navigation.html" %}

        <div id="fullpage">
            {% block content %}
            {% endblock %}
        </div>

        {% include "scripts.html" %}
    </body>
<html>
