<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Zaahir.ca - Uh Oh!</title>
        <meta name="description" content="Zaahir Moolla's Personal Website -- Error!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Zaahir Moolla">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="//assets.zaahir.ca/css/bootstrap.min.css">
        <link rel="stylesheet" href="//assets.zaahir.ca/css/font-awesome.min.css">
        <link rel="stylesheet" href="//assets.zaahir.ca/css/main.css">
        <link rel="stylesheet" href="//assets.zaahir.ca/css/colors/red.css">

        <script src="//assets.zaahir.ca/js/vendor/jquery-1.11.3.min.js"></script>
        <script src="//assets.zaahir.ca/js/vendor/bootstrap.min.js"></script>
        <script src="//assets.zaahir.ca/js/vendor/modernizr-2.6.2.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/plugins/html5shiv.js"></script>
          <script src="js/plugins/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="padding-top: 70px">

        {% include "navigation.html" %}

        <div class="container text-center clearfix">
            <h1>404</h1>
            <h2>Uh oh! Something isn't quite right...</h2>
            <p>Use the navigation above to get back home!</p>
            <pre>{{ error.stack }}</pre>
        </div>
    </body>
<html>
