{% extends "base.html" %}

{% block title %}Zaahir.ca - Personal Website of Zaahir Moolla{% endblock %}

{% block content %}

<!-- welcome begins -->
<section data-anchor="page-welcome" class="page-welcome section">
    <div id="welcome-slider" class="welcome-slider">
        <ul class="slider-controls">
            <li>
                <a id="vegas-next" class="next" href="javascript:void(0)"></a>
            </li>
            <li>
                <a id="vegas-prev" class="prev" href="javascript:void(0)"></a>
            </li>
        </ul>

        <div class="container">
            <div class="row">
                <header class="centered">
                    <h1 class="name">Zaahir Moolla</h1>
                    <p class="aka">(a.k.a. moollaza)</p>

                </header>
                <a href="#page-profile" class="btn btn-default more-info"><i class="fa fa-chevron-down"></i> More Info</a>
            </div>
        </div>
    </div>
</section>
<!-- welcome ends -->

<!-- profile begins -->
<section data-anchor="page-profile" class="page-profile section">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title">About Me</h2>
            <div class="spacer"></div>
            <p class="section-subtitle">
                Hi. My name is Zaahir.<br>
                I manage <a href="http://duckduckhack.com">DuckDuckHack</a> contributions for <a href="https://duckduckgo.com">DuckDuckGo</a>.<br>
                I like <span><img src="//assets.zaahir.ca/img/icons/processor.png"/> technology</span>, <span><img src="//assets.zaahir.ca/img/icons/music-record.png"/> music</span>, and <span><img src="//assets.zaahir.ca/img/icons/film-reel.png"/> movies</span>.
            </p>
        </header>
        <div class="profile-photo centered">
            <img src="http://gravatar.com/avatar/8389414e02c207abe7b15abea0ae6e3c?s=180" alt="profile photo" />
        </div>
        <p class="centered text-center">In my spare time, I play guitar and sing. I also spend time hacking around, working on side projects and startup ideas.</p>
    </div>
</section>
<!-- profile ends -->

<!-- contact begins -->
<section data-anchor="page-contact" class="page-contact section">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span>Contact</span></h2>
            <div class="spacer"></div>
            <p class="section-subtitle">Send me an email, or find me online</p>
        </header>
        <ul class="social-icons text-center">
            <li>
                <a href="mailto:info@zaahir.ca" class="btn btn-round btn-clear btn-email"><img src="//assets.zaahir.ca/img/icons/email.png"/></a>
            </li>
            <li>
                <a href="https://twitter.com/zmoolla" class="btn btn-round btn-clear btn-twitter"><img src="//assets.zaahir.ca/img/icons/twitter.png"/></a>
            </li>
            <li>
                <a href="https://github.com/moollaza" class="btn btn-round btn-clear btn-github"><img src="//assets.zaahir.ca/img/icons/github.png"/></a>
            </li>
        </ul>
    </div>
</section>
<!-- contact ends -->

<div class="footer">
    <p class="text-center">&copy; 2016 Zaahir Moolla | Icons by <a class="no-color" href="https://icons8.com">Icons8</a></p>
</div>


{% endblock %}
