= partial :head

%body
	.container.text-centered
		%h1 Whoops!
		%h2 Looks like the page you're looking for doesn't exist...

		%a.btn.btn-large.btn-success{:href => "/"} Go To Zaahir.ca
= partial :footer