= partial :head

%body.squished
  = partial :header_nav
  .container

    #portfolio
      %h2.page-header
        Portfolio
        %small UI, logo and design work

      #carousel.carousel.slide
        .carousel-inner
          .item.active
            %img{:alt => "Quant Dashboard Page", :src => "https://assets.zaahir.ca/img/portfolio/quant1.png"}/
            .carousel-caption
              %h4 Quant User Dashboard
          .item
            %img{:src => "https://assets.zaahir.ca/img/portfolio/quant2.png", :title => "Quant Create Report"}/
            .carousel-caption
              %h4 Quant Report Creation Page
          .item
            %img{:src => "https://assets.zaahir.ca/img/portfolio/quant3.png", :title => "Quant Select Report"}/
            .carousel-caption
              %h4 Quant Report Selection Page
          .item
            %img{:src => "https://assets.zaahir.ca/img/portfolio/edac1.png", :title => "EDAC Dashboard"}/
            .carousel-caption
              %h4 EDAC User Dashboard
          .item
            %img{:src => "https://assets.zaahir.ca/img/portfolio/edac2.png", :title => "EDAC Map Page"}/
            .carousel-caption
              %h4 EDAP Location Selection Page
          .item
            %img{:src => "https://assets.zaahir.ca/img/portfolio/mealdeck1.png", :title => "Mealdeck Logo"}/
            .carousel-caption
              %h4 Meadldeck Logo
          .item
            %img{:src => "https://assets.zaahir.ca/img/portfolio/mealdeck2.jpg", :title => "MealDeck Landing"}/
            .carousel-caption
              %h4 Mealdeck Landing Page
          .item
            %img{:src => "https://assets.zaahir.ca/img/portfolio/localbreedr1.jpg", :title => "LocalBreedr Logos"}/
            .carousel-caption
              %h4 LocalBreedr Logo Progression
          .item
            %img{:src => "https://assets.zaahir.ca/img/portfolio/localbreedr2.png", :title => "LocalBreedr Logo"}/
            .carousel-caption
              %h4 LocalBreedr Logo
        %a.carousel-control.left.prev{"data-slide" => "prev", :href => "#carousel"} &lsaquo;
        %a.carousel-control.right.next{"data-slide" => "next", :href => "#carousel"} &rsaquo;

  = partial :footer