= partial :head

%body.squished
	= partial :header_nav
	.container

		#resume
			%h2.page-header 
				R&eacute;sum&eacute;
				%small
					%a.pull-right.muted{:href => "/docs/Zaahir_Moolla_Resume_Jan_2013.pdf"}
						%img{:src => "/img/pdf_icon.png"}
			
			.tabbable
				%ul.nav.nav-tabs.tabbed
					%li.active
						%a{"data-toggle" => "tab", :href => "#experience"} Experience
					%li
						%a{"data-toggle" => "tab", :href => "#skills"} Technical Skills
					%li
						%a{"data-toggle" => "tab", :href => "#education"} Education
					%li
						%a{"data-toggle" => "tab", :href => "#hobbies"} Spare Time
					%li
						%a{"data-toggle" => "tab", :href => "#interests"} Interests
					%li
						%a{"data-toggle" => "tab", :href => "#fact"} Cool Fact
				
				.tab-content
					#experience.tab-pane.active
						.row
							%h3.span12 Experience
							.span12
								%h4
									Sofware Intern
									%small.pull-right May 2012 – September 2012
							.span12	
								%h5 DuckDuckGo, Pennsylvania, US
									
								%ul
									%li Managed, moderated and contributed to open-source code on Github (HTML, Javascript, Perl)
									%li Improved DuckPAN user testing platform (Perl)
								%hr
							.span12
								%h4
									Senior Web Developer
									%small.pull-right May 2011 – September 2011
							.span12	
								%h5 Quant Interpretations Inc., Hamilton, ON
								%ul
									%li Overhauled the company’s web application, on both the backend &amp; frontend
									%li Implemented with PHP and the CodeIgniter framework, as well HTML5 and CSS3 improved the application’s overall design and function
									%li Designed and implemented a small RESTful API
								%hr
							.span12
								%h4
									Engineering Student (Co-Op)
									%small.pull-right September 2007 – January 2008
							.span12	
								%h5 General Motors Oshawa Truck Plant Paint Shop, Engineering Office
								%ul
									%li Collaborated with multiple engineers, analyzed their roles, learned what engineers do and how they do it
									%li Developed an excel database, used a macro to organize it daily, improved ability to track work orders
									%li Engineered a more efficient, ergonomic work bench for QA personnel using Auto Cad, achieved a favourable design which reduced possibility of workplace injury

					#skills.tab-pane
						.row
							%h3.span12 Technical Skills
							.span12
								%dl.dl-horizontal
									%dt Operating Systems:
									%dd Windows, Linux(Ubuntu) and MacOS
								
									%dt Web Development:
									%dd HTML, CSS, Javascript, HAML, SASS, LESS, GIT, Bootstrap, Sinatra
								
									%dt Languages:
									%dd Python, Ruby, Perl, C++
								
									%dt Software:
									%dd MS Office, Adobe Photoshop, Illustrator &amp; Dreamweaver
								
									%dt Other:
									%dd Heroku, LATEX, OpenGL, VMware

					#education.tab-pane
						.row
							%h3.span12 Education
							.span12
								%h4
									Bachelor of Applied Science, Honours Business Informatics
									%small.pull-right Expected April 2014
							.span12	
								%h5 McMaster University, Hamilton, ON
								%ul
									%li Currently in level 4 of a unique 4 year program; studying Computer Science and Business
									%li Registered in the Engineering Co-Op Program
								%hr
							.span12
								%h4
									Ontario Secondary School Diploma (OSSD) - Gifted Program
									%small.pull-right Completed June 2009
							.span12		
								%h5 Sinclair Secondary School, Whitby, ON
								%ul
									%li Honours Gr.9, Gr.10, Gr.11 – Maintained over 80% average

					#hobbies.tab-pane
						.row
							%h3.span12 
								Spare Time
								%small Extracurriculars &amp; Hobbies
							.span12
								%h4
									Co-Founded a Web Startup Company – MealDeck.com
									%small.pull-right 2010 – 2011
							.span12
								%ul
									%li Assisted with design &amp; development of web application
									%li Designed logo and promotional material
									%li Networked at several social events, promoted MealDeck
									%li Presented MealDeck at Hamilton DemoCamp
								%hr
							.span12
								%h4
									Self-taught Web Developer and Web Designer
									%small.pull-right 2010 – Present
							.span12
								%ul
									%li
										Developed my personal website, utilizing
										%b HTML5
										and
										%b CSS3
										as well as Twitter's
										%b Bootstrap
								%hr
							.span12
								%h4
									Member of McMaster Solar Car Team (Business Team)
									%small.pull-right 2009 – 2011
							.span12
								%ul
									%li Gathered information and researched parts (solar cells, motors, batteries)
									%li Attended several public events with the business team, presented about the car and team
								%hr
							.span12
								%h4
									Avid musician and amateur recording engineer
									%small.pull-right 2006 – Present
							.span12
								%ul
									%li Self-taught guitarist; practice and perform regularly
									%li Learning to record, mix and master vocal and guitar tracks to create studio quality recordings

					#interests.tab-pane
						.row
							.span12
								%h3 Interests
								%ul
									%li Startups, Technology, Silicon Valley
									%li Music, Graphic Design, Gaming
									%li Web development and Web Design
									%li HackerNews, Quora, StackOverflow
						
					#fact.tab-pane
						.row
							.span12
								%h3 Cool Fact
								%p I once chased a purse snatcher from inside a grocery to the parking lot outside. He gave up running and I managed to get the purse back.
								%hr
	
	= partial :footer