= partial :head

%body.squished
	= partial :header_nav
	.container

		#resume
			%h2.page-header Resume
			
			.tabbable
				%ul.nav.nav-tabs.tabbed
					%li.active
						%a{"data-toggle" => "tab", :href => "#experience"} Experience
					%li
						%a{"data-toggle" => "tab", :href => "#skills"} Technical Skills
					%li
						%a{"data-toggle" => "tab", :href => "#education"} Education
					%li
						%a{"data-toggle" => "tab", :href => "#hobbies"} Spare Time
					%li
						%a{"data-toggle" => "tab", :href => "#interests"} Interests
					%li
						%a{"data-toggle" => "tab", :href => "#fact"} Cool Fact
				
				.tab-content
					#experience.tab-pane.active
						.row
							%h3.span12 Experience
							.span9
								%h4 Senior Web Developer (Summer Employment)
							.span3 May 2011 – September 2011
							.span12	
								%h5 Quant Interpretations Inc., Hamilton, ON
								%ul
									%li Overhauled the company’s web application (backend & frontend) transformed it into a visually appealing, more useful application which both clients and my employer thoroughly enjoyed
									%li Implemented with PHP and the CodeIgniter framework, as well HTML5 and CSS3 improved the application’s overall design and function
									%li Designed and implemented a small RESTful API allowing third party integration with the application
							%hr
							.span9
								%h4 Engineering Student (Co-Op)
							.span3 September 2007 – January 2008
							.span12	
								%h5 General Motors Oshawa Truck Plant Paint Shop, Engineering Office
								%ul
									%li Collaborated with multiple engineers of different principles, analyzed their job requirements and entailments, gained knowledge of what engineers do and how they do it
									%li Designed and developed an excel database, complete with an accompanying GUI as well as a macro to manage and organize it on a daily basis, improved ability to track work orders
									%li Engineered a more efficient, ergonomic work bench for quality assurance personnel using Auto Cad, achieved a favourable design which reduced possibility of workplace injury

					#skills.tab-pane
						.row
							%h3.span12 Technical Skills
							%dl.dl-horizontal
								%dt Operating Systems:
								%dd Windows, some LINUX and MacOS
							
								%dt Web Development:
								%dd PHP, HTML, CSS, SQL, JavaScript, AJAX, JQuery, MySQL, Apache
							
								%dt Languages:
								%dd Python, C++, Java, Haskell
							
								%dt Software:
								%dd Microsoft Office, Adobe Photoshop, Illustrator & Dreamweaver CS5
							
								%dt Other:
								%dd LATEX, OpenGL, GLUT, ProTools, Cubase 5, VMware

					#education.tab-pane
						.row
							%h3.span12 Education
							.span9
								%h4 Bachelor of Applied Science, Honours Business Informatics
							.span3 Expected Completion April 2013
							.span12	
								%h5 McMaster University, Hamilton, ON
								%ul
									%li Currently in level 3 of a unique 4 year program; studying Computer Science and Business
									%li Registered in the Engineering Co-Op Program
							%hr
							.span9
								%h4 Ontario Secondary School Diploma (OSSD) - Gifted Program
							.span3 Completed June 2009
							.span12		
								%h5 Sinclair Secondary School, Whitby, ON
								%ul
									%li Honours Gr.9, Gr.10, Gr.11 – Maintained over 80% average

					#hobbies.tab-pane
						.row
							%h3.span12 
								Spare Time
								%small Extracurriculars & Hobbies
							.span9
								%h4 Co-Founded a Web Startup Company – MealDeck.com
							.span3 2010 – Present
							.span12
								%ul
									%li Assisted with design & development of web application
									%li Designed logo and promotional material
									%li Networked at several social events, promoted MealDeck
									%li Presented MealDeck at Hamilton DemoCamp
							%hr
							.span9
								%h4 Self-taught Web Developer and Web Designer
							.span3 2010 – Present
							.span12
								%ul
									%li
										Developed my personal website, utilizing
										%b HTML5
										and
										%b CSS3
										as well as Twitter's
										%b Bootstrap
							%hr
							.span9
								%h4 Member of McMaster Solar Car Team (Business Team)
							.span3 2009 – 2011
							.span12
								%ul
									%li Gathered information and researched parts (solar cells, motors, batteries)
									%li Attended several public events with the business team, presented about the car and team
							%hr
							.span9
								%h4 Avid musician and amateur recording engineer
							.span3 2006 – Present
							.span12
								%ul
									%li Self-taught guitarist; practice and perform regularly
									%li Learning to record, mix and master vocal and guitar tracks to create studio quality music

					#interests.tab-pane
						.row
							.span12
								%h3 Interests
								%ul
									%li Startups, Technology, Silicon Valley
									%li Music, Graphic Design, Gaming
									%li Web development and Web Design
									%li Regularly follow HackerNews, Engadget, Local/World News
						
					#fact.tab-pane
						.row
							.span12
								%h3 Interesting Fact
								%p I once chased a purse snatcher from inside a grocery to the parking lot outside. He gave up running and I managed to get the purse back.
								%hr
	
	= partial :footer