/* ------------------------ */
/* ------------------------ */
/*
///////////////////////////
// UP TO LANDSCAPE PHONE //
///////////////////////////
*/
@media (max-width: 480px) {
  header {
    padding-top: 3em;
    width: 250px;
    height: 50px;
  }
  /* ==|== CSS Bars =====================================================*/
  .rectangle {
    width: 250px;
  }
  .top {
    width: 25px;
  }
  .menu {
    width: 70px;
  }
  .menu_show {
    width: 10px;
  }
  .banner_text.menu {
    font-size: 22pt;
    top: 6px;
  }
  #welcome_text {
    font-size: 22pt;
    top: 3px;
  }
  #menu_text {
    font-size: 20pt;
    top: 3px;
    margin-left: 5px;
  }
  /* ==|== Content =====================================================*/
  #my_name, #who {
    display: none;
    visibility: hidden;
  }
  #content_container {
    width: 250px;
    height: 225px;
    padding: 10px 0;
  }
  #content_container #content {
    width: 825px;
  }
  #content_container #content section {
    padding: 0;
    margin: 0;
    width: 250px;
    margin-right: 25px;
  }
  #content_container #content #name h1 {
    line-height: 50px;
    margin: 0 auto 10px;
  }
  #content_container #content #name h2 {
    text-align: center;
    font-size: 38px;
    float: left;
  }
  #content_container #content #name #first, #content_container #content #name #last {
    font-size: 72px;
    letter-spacing: 0.05em;
  }
  #content_container #content #name #undergrad, #content_container #content #name #nerd {
    margin: 0 7px 0 0;
  }
  #content_container #content #name #musician {
    margin: 0;
  }
  #content_container #content #contact h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 0 auto 5px;
  }
  #content_container #content #contact #media_icons {
    margin: 20px auto 0;
  }
  #content_container #content #contact #media_icons a {
    width: 45px;
    margin: 0 auto;
    border-radius: 8px;
    padding-top: 4px;
    padding-left: 2px;
  }
  #content_container #content #contact #media_icons li {
    margin: 0px 6px;
  }
  #content_container #content #about h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 0 auto 5px;
  }
  #content_container #content #about p {
    font-size: 12px;
    line-height: 14px;
  }
  #menu {
    width: 250px;
    margin: 0 auto;
  }
  #menu #show .banner_text {
    font-size: 16px;
    top: -36px;
    margin: 0px;
    text-decoration: none;
    text-shadow: none !important;
    letter-spacing: 0em;
    color: #FFF !important;
  }
  #menu #menu_options {
    display: block;
    left: 32px;
    position: relative;
    height: 0px;
    top: -3px;
  }
  #resume {
    padding: 0px;
  }
  #resume #title h1 {
    font-size: 20px;
  }
  #resume h2 {
    font-size: 17px;
  }
  #resume h3 {
    font-size: 15px;
  }
  #resume h4 {
    font-size: 13px;
  }
  #resume p {
    font-size: 12px;
  }
  #resume .tabbed li a {
    font-size: 12px;
  }
  /* ==|== Footer =====================================================*/
  footer {
    width: 250px;
    font-size: 10px;
  }
  footer ul {
    width: 250px;
  }
}
/*
////////////////////////////////////////////////////////
// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET //
////////////////////////////////////////////////////////
*/
@media (min-width: 480px) and (max-width: 767px) {
  body {
    -webkit-background-size: 1636px 1200px;
  }
  header {
    padding-top: 2em;
    min-width: ;
    width: 400px;
    height: 50px;
  }
  /* ==|== CSS Bars =====================================================*/
  .rectangle {
    width: 400px;
  }
  .top {
    width: 100px;
  }
  .menu {
    width: 140px;
  }
  .menu_show {
    width: 35px;
  }
  .banner_text.menu {
    font-size: 22pt;
    top: 6px;
  }
  #welcome_text {
    font-size: 22pt;
    top: 3px;
  }
  #menu_text {
    font-size: 20pt;
    top: 3px;
    margin-left: 5px;
  }
  /* ==|== Content =====================================================*/
  #my_name, #who {
    display: none;
    visibility: hidden;
  }
  #content_container {
    width: 400px;
    height: 260px;
    padding: 10px 0;
  }
  #content_container #content {
    width: 1320px;
  }
  #content_container #content section {
    padding: 0;
    margin: 0;
    width: 400px;
    margin-right: 40px;
  }
  #content_container #content #name h1 {
    line-height: 100px;
    margin: 0 auto 10px;
  }
  #content_container #content #name h2 {
    font-size: 25px;
    float: left;
  }
  #content_container #content #name #first, #content_container #content #name #last {
    font-size: 115px;
    letter-spacing: 0.05em;
  }
  #content_container #content #name #undergrad, #content_container #content #name #nerd {
    margin: 0 12px 0 0;
  }
  #content_container #content #name #musician {
    margin: 0;
  }
  #content_container #content #contact h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 auto 5px;
    padding-left: 25px !important;
  }
  #content_container #content #contact #media_icons {
    margin: 5px auto 0;
  }
  #content_container #content #contact #media_icons a {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  #content_container #content #contact #media_icons li {
    margin: 0px 17px;
  }
  #content_container #content #contact #media_icons img {
    width: 58px;
    height: 58px;
  }
  #content_container #content #about h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 auto 5px;
  }
  #content_container #content #about p {
    font-size: 16px;
    line-height: 19px;
  }
  #menu {
    width: 400px;
    margin: 0 auto;
  }
  #menu #hide, #menu #show {
    width: 400px;
  }
  #menu #show .banner_text {
    font-size: 18pt;
    top: -38px;
    margin: 0px;
    text-decoration: none;
    letter-spacing: 0em;
  }
  /* ==|== Footer =====================================================*/
  footer {
    width: 400px;
    font-size: 10px;
  }
  footer ul {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  body {
    -webkit-background-size: 1636px 1200px;
  }
  header {
    padding-top: 2em;
    min-width: ;
    width: 600px;
    height: 50px;
  }
  /* ==|== CSS Bars =====================================================*/
  .rectangle {
    width: 600px;
  }
  .top {
    width: 180px;
  }
  .menu {
    width: 240px;
  }
  .menu_show {
    width: 130px;
  }
  .banner_text.menu {
    font-size: 22pt;
    top: 10px;
  }
  #welcome_text {
    font-size: 22pt;
    top: 6px;
  }
  #menu_text {
    font-size: 20pt;
    top: 6px;
    margin-left: 5px;
  }
  /* ==|== Content =====================================================*/
  #my_name, #who {
    display: none;
    visibility: hidden;
  }
  #content_container {
    width: 600px;
    height: 435px;
    padding: 10px 0;
  }
  #content_container #content {
    width: 1980px;
  }
  #content_container #content section {
    padding: 0;
    margin: 0;
    width: 600px;
    margin-right: 60px;
  }
  #content_container #content section h1 {
    font-weight: normal;
  }
  #content_container #content #name #first, #content_container #content #name #last {
    font-size: 173px;
    letter-spacing: 0.05em;
    line-height: 175px;
    margin: 0 auto 10px;
  }
  #content_container #content #name #undergrad, #content_container #content #name #nerd {
    margin: 5px 16px 0 0;
  }
  #content_container #content #name #musician {
    margin: 0;
  }
  #content_container #content #name h2 {
    font-size: 40px;
    line-height: 39px;
    float: left;
  }
  #content_container #content #contact h1 {
    font-size: 80px;
    line-height: 90px;
    margin: 0 auto 5px;
    padding-left: 40px !important;
  }
  #content_container #content #contact #media_icons {
    margin: 5px auto 0;
  }
  #content_container #content #contact #media_icons a {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  #content_container #content #contact #media_icons li {
    margin: 0px 32px;
  }
  #content_container #content #contact #media_icons img {
    width: 68px;
    height: 68px;
  }
  #content_container #content #about h1 {
    font-size: 80px;
    line-height: 90px;
    margin: 0 auto 5px;
  }
  #content_container #content #about p {
    font-size: 22px;
    line-height: 24px;
  }
  #menu {
    width: 600px;
    margin: 0 auto;
  }
  #menu #hide, #menu #show {
    width: 600px;
  }
  #menu #show .banner_text {
    font-size: 18pt;
    top: -36px;
    margin: 0px;
    text-decoration: none;
    letter-spacing: 0em;
  }
  /* ==|== Footer =====================================================*/
  footer {
    width: 600px;
    font-size: 10px;
  }
  footer ul {
    width: 600px;
  }
}
@media (min-width: 980px) {
  body {
    -webkit-background-size: 1636px 1200px;
  }
  header {
    padding-top: 2em;
    min-width: ;
    width: 800px;
    height: 50px;
  }
  /* ==|== CSS Bars =====================================================*/
  .rectangle {
    width: 800px;
  }
  .top {
    width: 240px;
  }
  .menu {
    width: 320px;
  }
  .menu_show {
    width: 130px;
  }
  .banner_text.menu {
    font-size: 22pt;
    top: 6px;
  }
  #welcome_text {
    font-size: 22pt;
    top: 3px;
  }
  #menu_text {
    font-size: 20pt;
    top: 3px;
    margin-left: 5px;
  }
  /* ==|== Content =====================================================*/
  #my_name, #who {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    opacity: 0.6;
    position: relative;
    background: no-repeat;
  }
  #my_name {
    left: -300px;
    top: 35px;
  }
  #who {
    right: -300px;
    top: 340px;
  }
  #content_container {
    width: 600px;
    height: 435px;
    padding: 10px 0;
  }
  #content_container #content {
    width: 2640px;
  }
  #content_container #content section {
    padding: 0;
    margin: 0;
    width: 600px;
    margin-right: 80px;
  }
  #content_container #content #name #first, #content_container #content #name #last {
    font-size: 160px;
    letter-spacing: 0.05em;
    line-height: 175px;
    margin: 0 auto 10px;
  }
  #content_container #content #name #undergrad, #content_container #content #name #nerd {
    margin: 0 16px 0 0;
  }
  #content_container #content #name #musician {
    margin: 0;
  }
  #content_container #content #name h2 {
    font-size: 38px;
    line-height: 38px;
    display: inline-block;
  }
  #content_container #content #contact {
    text-align: center;
  }
  #content_container #content #contact h1 {
    font-size: 90px;
    line-height: 100px;
    margin: 0 auto 5px;
    text-align: left;
    padding-left: 55px !important;
  }
  #content_container #content #contact #media_icons {
    margin: 5px auto 0;
  }
  #content_container #content #contact #media_icons a {
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }
  #content_container #content #contact #media_icons li {
    margin: 10px 35px;
  }
  #content_container #content #contact #media_icons img {
    width: 68px;
    height: 68px;
  }
  #content_container #content #about h1 {
    font-size: 90px;
    line-height: 100px;
    margin: 0 auto 5px;
  }
  #content_container #content #about p {
    font-size: 20px;
    line-height: 30px;
    padding: 0 !important;
  }
  #menu {
    width: 800px;
    margin: 0 auto;
  }
  #menu #hide, #menu #show {
    width: 800px;
  }
  #menu #show .banner_text {
    font-size: 18pt;
    top: -38px;
    margin: 0px;
    text-decoration: none;
    letter-spacing: 0em;
  }
  /* ==|== Footer =====================================================*/
  footer {
    width: 800px;
    font-size: 11px;
  }
  footer ul {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  body {
    -webkit-background-size: 1636px 1200px;
  }
  header {
    padding-top: 2em;
    min-width: ;
    width: 1100px;
    height: 50px;
  }
  /* ==|== CSS Bars =====================================================*/
  .rectangle {
    width: 1100px;
  }
  .top {
    width: 330px;
  }
  .menu {
    width: 440px;
  }
  .menu_show {
    width: 300px;
  }
  .banner_text.menu {
    font-size: 22pt;
    top: 6px;
  }
  #welcome_text {
    font-size: 22pt;
    top: 3px;
  }
  #menu_text {
    font-size: 20pt;
    top: 3px;
    margin-left: 5px;
  }
  /* ==|== Content =====================================================*/
  #my_name, #who {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    opacity: 0.6;
    position: relative;
    background: no-repeat;
  }
  #my_name {
    left: -380px;
    top: 35px;
  }
  #who {
    right: -320px;
    top: 350px;
  }
  #content_container {
    width: 825px;
    height: 435px;
    padding: 10px 0;
  }
  #content_container #content {
    width: 3630px;
  }
  #content_container #content section {
    padding: 0;
    margin: 0;
    width: 825px;
    margin-right: 110px;
  }
  #content_container #content #name #first, #content_container #content #name #last {
    font-size: 175px;
    letter-spacing: 0.05em;
    line-height: 175px;
    margin: 0 auto 10px;
  }
  #content_container #content #name #undergrad, #content_container #content #name #nerd {
    margin: 0 20px 0 0;
  }
  #content_container #content #name #musician {
    margin: 0;
  }
  #content_container #content #name h2 {
    font-size: 38px;
    line-height: 38px;
    display: inline-block;
  }
  #content_container #content #contact {
    text-align: center;
  }
  #content_container #content #contact h1 {
    font-size: 100px;
    line-height: 100px;
    margin: 0 auto 5px;
    text-align: left;
    padding-left: 90px !important;
  }
  #content_container #content #contact #media_icons {
    margin: 5px auto 0;
  }
  #content_container #content #contact #media_icons a {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  #content_container #content #contact #media_icons li {
    margin: 10px 55px;
  }
  #content_container #content #contact #media_icons img {
    width: 68px;
    height: 68px;
  }
  #content_container #content #about h1 {
    font-size: 100px;
    line-height: 100px;
    margin: 0 auto 5px;
  }
  #content_container #content #about p {
    font-size: 25px;
    line-height: 30px;
  }
  #menu {
    width: 1100px;
    margin: 0 auto;
  }
  #menu #hide, #menu #show {
    width: 1100px;
  }
  #menu #show .banner_text {
    font-size: 18pt;
    top: -38px;
    margin: 0px;
    text-decoration: none;
    letter-spacing: 0em;
  }
  /* ==|== Footer =====================================================*/
  footer {
    width: 1100px;
    font-size: 12px;
  }
  footer ul {
    width: 1100px;
  }
}

