/* ==========================================================================
   HELPERS
   ========================================================================== */

.hide { display: none; }
.show { display: block; }
.nomargin { margin: 0px; }
.nopadding { padding: 0px; }
.uppercase { text-transform: uppercase; }
.inline-block { display: inline-block; }
.full-with { width: 100%; }
.text-centered { text-align: center; }
.absolute { position: absolute; }
.absolute.pull-left { left: 0px; }
.absolute.pull-right { right: 0px; }

/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */

body { 
  margin: 80px 40px 0;
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  overflow-y: scroll;
}

body.squished {
  margin: 0px 40px;
}

body.squished .brand span{
  color: #333;
  font-weight: bold;
}

body.squished .brand small {
  color: #999;
  font-weight: normal;
}

body div.container {
  margin-bottom: 20px;
}

.navbar .navbar-inner {
  background: #fff;
  color: #000;
  border: none;
  border-bottom: 1px solid #bbb;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
}

.nav-collapse .nav {
  float: right;
}

/*Makes mobile menu display correctly*/
.nav-collapse.in.collapse .nav {
  float: none;
}

nav div.container {
  margin-bottom: 0px;
}

footer {
  text-align: center;
  font-size: 11px;
}

/* ==========================================================================
   INDEX STYLES
   ========================================================================== */
#name {
  font-size: 68.5px;
  line-height: 70px;
}

#tag_container { 
  margin: 20px auto 30px;
  position: relative;
}

#tag_container a:hover {
  color: #999;
}

.line {
  height: 5px;
  background-color: #999;
}

#tag {
  font-size: 20px;
  font-family: Consolas, “Lucida Console”, Monaco, monospace;
  line-height: 20px;
}

#tag span {
  line-height: 20px;
  font-size: 40px;
  vertical-align: sub;
}

#tag a {
  text-decoration: none;
  color: #000;
}

#slider {
  padding: 20px 10px 10px;
  border-top: 4px solid #CCC;
  border-bottom: 4px solid #CCC;
  border-style: double;
  border-left: none;
  border-right: none;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#inner {
  width: 300%;
  margin-left: 0%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

#inner section {
  float: left;
  width: 33.3333%;
}

#media_icons {
  margin: 50px auto;
  padding: 0;
}

#media_icons a {
  margin: 0 auto;
  display: inline-block;
  border-radius: 8px;
  padding-top: 4px;
  padding-left: 2px;
}

#media_icons a img {
  opacity: 0.5;
  -moz-opacity: 0.5;
}

#media_icons a:hover img {
  opacity: 1;
  -moz-opacity: 1;
}

#media_icons li {
  list-style-type: none;
  display: inline-block;
}

#menu {
  margin: 20px 0;
}

#menu li, #menu li a {
  color: #333;
}

/* ==========================================================================
   RESUME STYLES
   ========================================================================== */

.tab-content .span3 {
  text-align: right;
  margin-top: 10px
}

.tabbable .nav {
  margin-bottom: 0;
}

/* ==========================================================================
   PORTFOLIO STYLES
   ========================================================================== */
#portfolio {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#portfolio img {
  margin: 0 auto;
  max-height: 500px;
}

#portfolio .carousel-inner {
  background-color: black;
}

/* ==========================================================================
   Custom Media Queries
   ========================================================================== */

/* Large desktop */
@media (min-width: 1500px) { }

/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 9 8px) { }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }

/* Landscape phones and down */
@media (max-width: 480px) { 
  body, body.squished { margin: 0px; }
  .tmi { display: none }
}