/* ==========================================================================
   HELPERS
   ========================================================================== */

.hide { display: none; }
.show { display: block; }
.nomargin { margin: 0px; }
.nopadding { padding: 0px; }
.uppercase { text-transform: uppercase; }
.inline-block { display: inline-block; }
.full-with { width: 100%; }
.text-centered { text-align: center; }
.absolute { position: absolute; }
.absolute.pull-left { left: 0px; }
.absolute.pull-right { right: 0px; }

/* ==========================================================================
   LANDING STYLES
   ========================================================================== */

body { 
  margin: 80px 40px 0;
  font-family: Consolas, “Lucida Console”, Monaco, monospace;
  overflow-y: scroll;
}

#name {
  font-size: 68.5px;
  line-height: 70px;
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
}

#tag_container { 
  margin: 20px auto 30px;
  position: relative;
}

.line {
  height: 5px;
  background-color: #999;
}

#tag {
  font-size: 20px; /*18.5px;*/
  line-height: 20px;
}

#tag span {
  line-height: 20px;
  font-size: 40px;
  vertical-align: sub;
}

.content_container {
  overflow: hidden;
  border-top: 4px solid #CCC;
  border-bottom: 4px solid #CCC;
  border-style: double;
  border-left: none;
  border-right: none;
}

#slider {
  padding-top: 20px;
  width: 300%;
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.content {
  display: inline-block;
  height: 100%;

}

#index section {
  height: 100%;
  padding: 0 10px;
}

#media_icons {
  margin: 50px auto;
  padding: 0;
}

#media_icons a {
  margin: 0 auto;
  display: inline-block;
  border-radius: 8px;
  padding-top: 4px;
  padding-left: 2px;
}

#media_icons a img {
  opacity: 0.5;
  -moz-opacity: 0.5;
}

#media_icons a:hover img {
  opacity: 1;
  -moz-opacity: 1;
}

#media_icons li {
  list-style-type: none;
  display: inline-block;
}

#menu a {
  color: #000;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 10px;
  margin-top: 40px;
}

/* ==========================================================================
   RESUME STYLES
   ========================================================================== */

#resume .span3, #resume .span1 {
  text-align: right;
}

#resume h4.span3 {
  text-align: left;
}

#resume li {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  margin-bottom: 8px;
}

#resume .tabbed {
  margin-top: 20px;
  padding-bottom: 0px;
}

#resume .tabbed li {
  margin-bottom: 0;
}

#resume .tabbed li a:hover {
  text-shadow: none;
}

#resume .tabbed .active a, #resume .tabbed .active a:hover {
  color: #000;
  text-shadow: none;
}

#resume #title {
  margin-top: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid #DDD;
}

.specialfooter {
  margin-top: 30px;
  position: relative;
  bottom: 0px;
}

/* ==========================================================================
   PORTFOLIO STYLES
   ========================================================================== */
#title {
  margin-top: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid #666;
}

#portfolio h1 {
  font-family: 'AnonymousProBold';
  font-size: 40px;
  font-weight: bold;
}

#portfolio h4 {
  font-weight: bold;
}

#portfolio img {
  margin: 0 auto;
  max-height: 500px;
}

#portfolio .span1 {
  text-align: right;
}

#portfolio .carousel-inner {
  background-color: black;
}

.invisible {
  visibility: hidden;
}

/* ==========================================================================
   Custom Media Queries
   ========================================================================== */

/* Large desktop */
@media (min-width: 1500px) { }

/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 9 8px) { }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }

/* Landscape phones and down */
@media (max-width: 480px) { }