/* ==========================================================================
   HELPERS
   ========================================================================== */

.hide { display: none; }
.show { display: block; }
.nomargin { margin: 0px; }
.nopadding { padding: 0px; }
.uppercase { text-transform: uppercase; }
.inline-block { display: inline-block; }
.full-with { width: 100%; }
.text-centered { text-align: center; }
.absolute { position: absolute; }
.absolute.pull-left { left: 0px; }
.absolute.pull-right { right: 0px; }

/* ==========================================================================
   LANDING STYLES
   ========================================================================== */

body { 
  margin: 80px 40px 0;
}

header {
  margin-bottom: 40px
}

#name {
  font-size: 68.5px;
  line-height: 70px
}

#tag_container { 
  margin: 0 auto;
  position: relative;
}

#tag_container div.line {
  height: 5px;
  background-color: #999;
}

#tag {
  font-size: 18.5px;
  line-height: 20px;
}

#tag span {
  font-family: cursive;
}

#content_container {
  overflow: hidden;
  margin: 0 auto;
  width: 960px;
  min-height: 300px;
  border: 1px solid #CCC;
}

#content {
  width: 300%;
  height: 100%;
  position: relative;
  padding: 10px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

section {
  width: 33.33%;
  height: 100%;
  float: left;
}

#media_icons {
  width: 100%;
  padding: 0;
}

#media_icons a {
  margin: 0 auto;
  display: inline-block;
  border-radius: 8px;
  padding-top: 4px;
  padding-left: 2px;
}

#media_icons a img {
  opacity: 0.5;
  -moz-opacity: 0.5;
}

#media_icons a:hover img {
  opacity: 1;
  -moz-opacity: 1;
}

#media_icons li {
  list-style-type: none;
  display: inline-block;
}

#menu a {
  color: #000;
}

footer {
  text-align: center;
}

/* ==== RESUME STYLES =====================================================
Author:  Zaahir Moolla
========================================================================== */
#resume {
  margin-top: 30px;
  background: #ffffff;
  box-shadow: #000 2px 2px 2px;
  padding: 0px 30px 5px;
  border-radius: 10px;
}

#resume h1,
#resume h2,
#resume h3,
#resume h4,
#resume h5,
#resume p,
#resume span {
  font-weight: bold;
}

#resume h1 {
  font-family: 'AnonymousProBold';
  margin: 0 !important;
}

#resume h2,
#resume h3,
#resume h4,
#resume h5,
#resume p,
#resume span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 36px;
}

#resume .span3, #resume .span1 {
  text-align: right;
}

#resume h4.span3 {
  text-align: left;
}

#resume li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 8px;
}

#resume .tabbed {
  margin-top: 20px;
  padding-bottom: 0px;
}

#resume .tabbed li {
  margin-bottom: 0;
}

#resume .tabbed li a:hover {
  text-shadow: none;
}

#resume .tabbed .active a, #resume .tabbed .active a:hover {
  color: #000;
  text-shadow: none;
}

#resume #title {
  margin-top: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid #DDD;
}

.specialfooter {
  margin-top: 30px;
  position: relative;
  bottom: 0px;
}

/* ==== RESUME STYLES =====================================================
   Author:  Zaahir Moolla
   ========================================================================== */
#title {
  margin-top: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid #666;
}

#portfolio h1 {
  font-family: 'AnonymousProBold';
  font-size: 40px;
  font-weight: bold;
}

#portfolio h4 {
  font-weight: bold;
}

#portfolio img {
  margin: 0 auto;
  max-height: 500px;
}

#portfolio .span1 {
  text-align: right;
}

#portfolio .carousel-inner {
  background-color: black;
}

.invisible {
  visibility: hidden;
}

/* ==========================================================================
   Custom Media Queries
   ========================================================================== */

/* Large desktop */
@media (min-width: 1500px) { }

/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 9 8px) { }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }

/* Landscape phones and down */
@media (max-width: 480px) { }